@model IEnumerable<OnlineHomeServices.DAL.Tbl_Orders>

@{
    ViewBag.Title = "ShowRequest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>My orders</h2>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        List of Orders
        <a href="../Home/Index" class="btn btn-info pull-right fa fa-plus">Add New</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Customer name.</th>
                        <th>Address</th>
                        <th>Phone number</th>
                        <th>Date</th>
                        <th>Action</th>

                    </tr>
                </thead>
           
                <tbody>
                    @foreach (var item in Model)
                    {

                        if (item.SellerName == User.Identity.Name && item.Status== "Pending")
                        {
                            int count = 1;
                    <tr>
                        <td>@item.CustomerName</td>
                        <td>@item.Address</td>
                        <td>@item.Phone_number</td>
                        <td>@item.Date</td>
                        <td>
                            @Html.ActionLink("Accept", "AcceptOrder", new { id = item.id })
                            @Html.ActionLink("Reject", "RejectOrder", new { id = item.id })
                        </td>

                    </tr>
                            count++;

                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
