@using OnlineHomeServices.Models.Home;
@using OnlineHomeServices;
@using OnlineHomeServices.Models;
<!DOCTYPE html>
<html>
<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <!-- Bootstrap core CSS-->
    <link href="~/AdminStyle/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/AdminStyle/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/AdminStyle/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/AdminStyle/css/sb-admin.css" rel="stylesheet">
    <link href="~/AdminStyle/css/dashboard.css" rel="stylesheet">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/MyMainLayOut.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="logo">
                    @*<img src="~/Images/Logo-removebg-preview.png" class="img-fluid img-thumbnail" />*@
                    <h1><a href="../Home/Index">Online <span>Home Services</span></a></h1>

                    <p>Services</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                @*<div class="account">
                       <ul>
                           <li>
                               <div class="hidden-xs">
                                   <h4><a>Call</a></h4>
                                   <p>018##-######</p>
                               </div>

                               <div class="visible-xs">

                                   <p>018##-######</p>
                               </div>

                           </li>
                       </ul>

                    </div>*@

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Online <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li class="divider"></li>
                                <li><a href=" @Url.Action("Becomeseller", "Home", new { name = User.Identity.Name }) ">Become Seller</a></li>
                                <li><a href="@Url.Action("combinedprofile", "Home")">Profile</a></li>

                                <li><a href="@Url.Action("Logout", "Home")">Logout</a></li>
                                @*<li><a href="@Url.Action("Rederedcustomerprofile", "Home")">Profile</a></li>*@

                            </ul>
                        }
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="nav-menus">

                    <ul class="nav nav-pills" id="myTab">
                        <li class="nav-item">
                            <a class="nav-link active" style="border-radius:initial;" href="../Home/Index">Home</a>
                            @if (User.Identity.IsAuthenticated)
                            {

                            <li class="nav-item"> @Html.ActionLink("My Pending Order", "MyOrders", "Home")  </li>
                            <li class="nav-item"><a class="nav-link" style="border-radius:initial;" href="../Home/CounterPending">Counter Offer</a></li>
                            <li class="nav-item"><a class="nav-link" style="border-radius:initial;" href="../Home/OrderCompleted">Completed orders</a></li>
                        }
                        else
                        {
                            <li class="nav-link">@Html.ActionLink("Login", "Login", "Home")</li>

                        }
                        </ul>
                    </div>
                </div>

            </div>


            @RenderBody()
            <hr />
            <footer>
                <div class="row">
                    <div class="col-md-12 copyright">

                        <div class="col-md-6 col-sm-6 copyright-left">
                            <p>&copy; @DateTime.Now.Year - OnlineHomeServices. All right reserved.</p>
                        </div>

                        <div class="col-md-6 col-sm-6 copyright-right">

                            <ul class="list-unstyled list-social">
                                <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>

            </footer>
        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </body>

</html>
<script type="text/javascript">



    $(function () {
        var page = sessionStorage.getItem('page');
        var navbar = document.querySelectorAll('li');
        if (page == null) {
            $(navbar[0]).addClass('active');
        } else {
            navbar.forEach((item, index) => {
                if (item.children[0].href == page) {
                    $(item).addClass('active').siblings().removeClass('active');
                }
            });
        }
    })

    $(document).on('click', 'ul li', function () {
        var x = this.children[0].href;
        sessionStorage.setItem('page', x);
    });





    $(".ratingStar").hover(function () {
        $(".ratingStar").addClass("far").removeClass("fas");
        $(this).addClass("fas").removeClass("far");
        $(this).prevAll(".ratingStar").addClass("fas").removeClass("far");
    });
    $(".ratingStar").click(function () {
        debugger;
        var starValue = $(this).attr("data-value");
        $("#ratingValue").val(starValue);
    });
</script>