@model OnlineHomeServices.DAL.Tbl_User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .btn {
        margin-top: 30px;
    }

    .error {
        color: red;
    }

    .input-group {
        margin-top: .25em;
        margin-bottom: 1.5em;
    }

    .title {
        padding-top: .5em
    }
</style>
@{var returnUrl = Context.Request.QueryString["ReturnUrl"];
    <form asp-route-returnurl="@returnUrl" method="post">
    

    <p class=" error">@ViewBag.error</p>

    <div class="container">
        <div class="row">
            <div class=" col-md-6">
                <h2 class="title">Login</h2>

                <div class="container">
                    <div class="from-group">
                        <label>Username</label>
                        <div class=" input-group">
                            <span class="input-group-addon"><i class=" glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                        </div>
                    </div>
                </div>



                <div class="container">
                    <div class="from-group">
                        <label>Password</label>
                        <div class=" input-group">
                            <span class=" input-group-addon"><i class=" glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(x => x.password, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Do not have accout?", "Signup")
                </div>
</form>
            }

        </div>

        <div id="imagess" class=" col-md-6">

            <img src="~/Images/log.png" class=" img-responsive" />

        </div>
    </div>


</div>