@model IEnumerable<OnlineHomeServices.DAL.Tbl_Orders>

@{
    ViewBag.Title = "Myorders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My orders</h2>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Seller</th>
                        <th>Status</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Seller</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.CustomerName == User.Identity.Name && item.Status=="Pending") {
                            int count = 1;
                        <tr>
                            <td>@count</td>
                            <td>@item.SellerName</td>
                            <td>@item.Status</td>
                            <td>
                                <a href="@Url.Action("DeleteOrder",new { @item.id})" class="btn btn-danger">Delete</a>

                            </td>

                        </tr>
                            count++;
                        }

                    }
                </tbody>
            </table>
        </div>

    </div>
</div>