@model OnlineHomeServices.DAL.Tbl_review

@{
    ViewBag.Title = "ReviewByCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://kit.fontawesome.com/9e5844b079.js" crossorigin="anonymous"></script>
<style>
    .stars {
        margin: 20px 0;
        font-size: 24px;
        color: #d17581;
        
        text-align: center 
    }
    
</style>

<h2>Review Customer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-12">

            <div class="stars starr">
                <span class="text-warning text-right">
                    <i class="ratingStar fas fa-star" data-value="1"></i>
                    <i class="ratingStar far fa-star" data-value="2"></i>
                    <i class="ratingStar far fa-star" data-value="3"></i>
                    <i class="ratingStar far fa-star" data-value="4"></i>
                    <i class="ratingStar far fa-star" data-value="5"></i>
                    <input type="hidden" name="rating" id="ratingValue" value="1" />
                </span>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Review, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Review, new { htmlAttributes = new { @class = "form-control animated" }, placeholder = "Enter your review here... ", rows = "10", cols = "60" })
                    @Html.ValidationMessageFor(model => model.Review, "", new { @class = "text-danger" })
                    
                </div>
            </div>

           
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>


        </div>
    </div>

}


<div>
    @Html.ActionLink("Back", "Index")
</div>
